* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html, body, #map {
  height: 100%;
  padding: 0;
  margin: 0;
  font: 400 16px/1 'Lato';
  font-size: 16px;
}

.Search {
  /*background: rgb(255, 255, 255);*/
  position: absolute;
  top: 20px;
  left: 20px;
  right: 20px;
}
  .Search-input {
    border: 1px solid rgba(0, 0, 0, .2);
    max-width: 400px;
    background: #fff;
    border-radius: 2px;
    position: relative;
    height: 40px;
  }

.Search-actions {
  float: right;
  margin-top: -1px;
  margin-right: -1px;
  overflow: hidden;
}
  .Search-actions-search {
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
    background: #2A7F62 url(../img/icon_search.png) no-repeat center center;
    text-align: center;
    border: 0;
    height: 40px;
    width: 40px;
    display: inline-block;
    vertical-align: middle;
    cursor: pointer;
  }

.Search-input-txt {
  float: left;
  border: 0;
  font: 400 15px/1 'Lato';
  color: #222;
  max-width: 318px;
  padding: 0px 15px;
  line-height: 38px;
  font-size: 16px;
}
  .Search-input-txt:focus {
    outline: none;
  }

.Search-action-dropdown {
  float: right;
  margin-top: -3px;
  display: block;
  height: 40px;
  width: 40px;
}

.Search-action-dropdown:after {
  content: "";
  position: absolute;
  margin-top: -3px;
  width: 14px;
  height: 7px;
  display: block;
  right: 50px;
  top: 50%;
  background: url(../img/icon_arrow.png) no-repeat;
}


.Search-advanced {
  max-width: 400px;
  display: none;
  border-top: 1px solid rgba(137, 144, 159, .20);
  padding: 15px;
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
  background: rgb(255, 255, 255);
  font: 400 16px/1 'Lato';
  font-size: 16px;
}
  .Search-advanced-list > li {
    border-top: 1px solid rgba(137, 144, 159, .20);
    padding: 15px 0;
  }
  .Search-advanced-list > li:first-child {
    border-top: none;
    padding-top: 0;
  }
  .Search-advanced-list > li:last-child {
    padding-bottom: 0;
  }

.Search-advanced-label {
  font: 300 11px 'Lato';
  font-style: italic;
  display: inline-block;
  vertical-align: middle;
  margin-right: 8px;
  opacity: .5
}

.Search-advanced-list .active  .Search-advanced-label {
  opacity: 1;
}


.Search-advanced-txt {
  display: inline-block;
  vertical-align: middle;
  border: 0;    
  color: #222;
  max-width: 318px;
  padding: 0px 15px;
  line-height: 38px;
  font: 400 15px/1 'Lato';
  font-size: 16px;
}

.Search-advanced-txt:focus {
    outline: none;
  }

.search-advanced-alerts{
  /*display: none;*/
  color: #ce6444;
}

.search-advanced-alerts-content{
  padding-left: 60px;
}

.search-advanced-alerts-content img{
  float: left;
  margin-left: -60px;
}

ul.ui-autocomplete { 
  max-width: none !important; 
  left: 0 !important;
  top: 40px !important;
  width: 100% !important;
/*
  position: absolute; 
  display: block; 
  width: 250px; 
  margin-top: 10px; 
  
  height: auto; 
  max-height: 200px; 
  background: white; 
  z-index: 1000!important; 
  -webkit-border-radius: 3px; 
  -moz-border-radius: 3px; 
  -ms-border-radius: 3px; 
  -o-border-radius: 3px; 
  border-radius: 3px; 
  border: 1px solid #999999; 
  overflow-y: auto; 
  */
}

ul.ui-autocomplete li a{
  cursor: pointer;
}
